@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    /* Style de base pour le texte 3D (Trust, I, Send) */
    .threed-text {
        position: absolute;
        top: 50%;
        left: 10%;
        transform: translateY(-50%);
        text-transform: uppercase;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 8em;
        line-height: 0.6;
        font-weight: 700;
        color: #f5f5f5;
        text-shadow: 1px 1px 1px #919191,
        1px 2px 1px #919191,
        1px 3px 1px #919191,
        1px 4px 1px #919191,
        1px 5px 1px #919191,
        1px 6px 1px #919191,
        1px 7px 1px #919191,
        1px 8px 1px #919191,
        1px 9px 1px #919191,
        1px 10px 1px #919191,
        1px 18px 6px rgba(16, 16, 16, 0.4),
        1px 22px 10px rgba(16, 16, 16, 0.2),
        1px 25px 35px rgba(16, 16, 16, 0.2),
        1px 30px 60px rgba(16, 16, 16, 0.4);
    }


    /* Style pour "Trust" */
    .threed-text .trigger-hover {
        position: relative;
        top: -1em;
        left: 0;
    }

    /* Style pour "I" et "Send" avec positionnement absolu */
    .threed-text .falling-text {
        position: absolute;
        left: 0;
        opacity: 0;
        transform: translateY(-100px);
        margin-top: 0;
    }

    /* Ajustement des positions pour "I" et "Send" */
    .threed-text .falling-text.delay-2 {
        top: 0;
    }

    .threed-text .falling-text.delay-3 {
        top: 1em;
    }

    /* Copie des styles de "I" pour "WHAT" */
    .what-text {
        position: absolute; /* Positionnement absolu pour correspondre à "I" */
        left: 50%; /* Même position que "I" */
        top: 40%; /* Même position que "I" */
        transform: translateY(-100px); /* Même transformation que "I" */
        font-size: 2em; /* Taille identique */
        font-weight: 700; /* Même poids de texte */
        color: #f5f5f5; /* Même couleur de texte */
        text-transform: uppercase; /* Même transformation de texte */
        font-family: 'Source Sans Pro', sans-serif; /* Même police de caractères */
        text-shadow: 1px 1px 1px #919191,
        1px 2px 1px #919191,
        1px 3px 1px #919191,
        1px 4px 1px #919191,
        1px 5px 1px #919191,
        1px 6px 1px #919191,
        1px 7px 1px #919191,
        1px 8px 1px #919191,
        1px 9px 1px #919191,
        1px 10px 1px #919191,
        1px 18px 6px rgba(16, 16, 16, 0.4),
        1px 22px 10px rgba(16, 16, 16, 0.2),
        1px 25px 35px rgba(16, 16, 16, 0.2),
        1px 30px 60px rgba(16, 16, 16, 0.4);
        opacity: 1; /* Assurez-vous que "WHAT" est visible */
        z-index: 100; /* Assurez-vous que l'élément est bien au-dessus */
    }

    @keyframes fall {
        from {
            opacity: 0;
            transform: translateY(-100px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    /* Animation de chute */
    .falling-text.animate {
        animation: fall 0.8s forwards ease-in-out;
    }

    /* Animation zoom-in et disparition de "WHAT" */
    .what-text.animate {
        animation: zoom-in-out 1.8s forwards ease-in-out;
    }

    @keyframes zoom-in-out {
        0% {
            transform: translate(-50%, -50%) scale(0);
            opacity: 0;
        }
        50% {
            transform: translate(-50%, -50%) scale(0.75);
            opacity: 1;
        }
        100% {
            transform: translate(-50%, -50%) scale(0.5);
            opacity: 0;
        }
    }

    /* Animation pour changer la couleur de "Trust" */
    .color-animate {
        animation: color-change 1s forwards ease-in-out;
    }

    @keyframes color-change {
        from {
            color: #f5f5f5;
        }
        to {
            color: #4DB0E7;
        }
    }

    /* Utilitaire pour cacher les éléments */
    .hidden {
        display: none;
    }



}
